---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    Full Stack Developer and Nutritionist
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Full Stack Developer"
      subtitle="MigraCode - 2023. Barcelona - Spain"
    />
    <TimeLineElement
      title="Bachelor's degree in Nutrition and Dietetics"
      subtitle="Central University of Venezuela (UCV) / 2004 - 2010. Caracas - Venezuela"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Front-end developer. Barcelona - Spain."
      subtitle="MigraCode. 2023 - Currently"
    >
    As a front-end developer, I led projects such as Migramix, focused on street artists. My duties included calls to external APIs and user interface development.
    
    </TimeLineElement>

    <TimeLineElement
    title="Nutritionist | Lima - Peru"
    subtitle="Companies: Rapid Fit&Well, FS Team | 2019 - 2021"
  >
    Specialized in designing personalized meal plans and providing nutritional counseling, integrating technological solutions: 
    <p>I brought in a solid experience in designing and delivering meal plans through WordPress.</p>
    <p>Additionally, I played an active role in creating strategies and content for social media and the website. Furthermore, during this period, I honed my knowledge of dietary management. What sets my approach apart is my ability to integrate technological solutions and teamwork.</p>
  
    </TimeLineElement>

    <TimeLineElement
      title="Nutritionist | Caracas, Venezuela"
      subtitle="From 2011 to 2019"
    >
    At AnggiFit from 2016 to 2019, conducted comprehensive nutritional and anthropometric assessments for gym members, delivering personalized reports and meal plans. 
    
    <p>Led coordination and execution of marketing and nutritional education initiatives at corporate levels.</p>

    <p>Prior to that, from 2011 to 2016 at Gold's Gym, specialized in the personalized design of meal plans and nutritional advice, actively involved in marketing and nutritional education activities at both center and corporate levels.</p>

    <p> Additionally, at NutriSport Center in 2012-2013, conducted assessments for athletes, providing personalized reports and meal plans, contributing to the enhancement of their nutritional strategies.</p>

    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="https://learning.inco-group.co/pluginfile.php/1/tool_certificate/issues/1686128699/8481671102AB.pdf" target="_blank"> Green Skills Certificate SP. Junio 2023 - Julio 2023</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>HTML</li>
    <li>CSS3</li>
    <li>JavaScript</li>
    <li>React</li>
    <li>Node.js</li>
    <li>Wordpress</li>
    <li>SQL</li>
    <li>GitHub</li>
    <li>Agile methodology</li>
    <li>Team Work</li>
    <li>Problem - Solving</li>
  </ul>
</BaseLayout>
