---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";

---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-5xl font-bold text-primary">I'm Angely Bonaldy</div>
    <div class="text-2xl py-3 font-bold text-secondary">Full Stack developer</div>
    <div class="py-2">
      <text class="text-lg font-light">
        Full-stack developer with a background in wellness, after 13 years working as nutritionist, having helped more 1000 people to improve their health, I reskilled myself as web developer (React/Node/Postgres/SQL); thanks to my previous experiences, I bring to the team strong communication skills, a solution-oriented mindset, creativity, and empathy to foster effective collaboration among team members.
      </text>
    </div>
    <div class="mt-8 text-right">
      <a href="https://www.linkedin.com/in/angelynbonaldy" target="_blank" class="btn ml-5 bg-secondary text-white">
        Let's connect!
      </a>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">My last projects {"</>"}</div>
  </div>


  <HorizontalCard
    title="MigraMix"
    img="/projects/project-migramix-removebg-preview.png"
    desc="Migramix is a website for the promotion of migrant artists and their events, including the possibility for organisers to be promoted. The aim of this site is to bring information from the artists to the artists, all in one place."
    url="https://migramix.migracode.org/"
  />

  <div class="mt-8 text-right">
    <a href="/projects" class="btn ml-5 bg-secondary text-white">
      More Projects
    </a>
  </div>

  <div class="divider my-1"></div>


</BaseLayout>
