---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title = "Projects" sideBarActiveItemID="projects">
  <div>
    <div class="text-4xl w-full font-bold mb-5">Projects</div>
  </div>

  <HorizontalCard
    title="MigraMix"
    img="/projects/project-migramix-removebg-preview.png"
    desc="Migramix is a website for the promotion of migrant artists and their events, including the possibility for organisers to be promoted. The aim of this site is to bring information from the artists to the artists, all in one place."
    url="https://github.com/anggifit/MigraMix"
  />
  <div class="divider my-1"></div>
  <HorizontalCard
    title="GoodFood"
    img="/projects/project-goodFood-removebg.png"
    desc="DESCRIPCION DEL PROYECTO Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="https://github.com/anggifit/FindingFood"
    badge="pendiente"
  />

  <HorizontalCard
    title="My goodreads"
    img="/projects/woman-working-laptop-removebg-preview.png"
    desc="DESCRIPCION DEL PROYECTO Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
    badge="pendiente"
  />
  <div class="divider my-0"></div>

</BaseLayout>
